{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add a Comment{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="" method=post enctype=multipart/form-data>
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <select class="form-control" id="module" name="module">
      <option value="WM393">WM393</option>
      <option value="WM380">WM380</option>
      <option value="WM274" selected>WM274</option>
      <option value="WM275">WM275</option>
  </select>
  <select class="form-control" id="priority" name="priority">
    <option value="HIGH">HIGH</option>
    <option value="MEDIUM">MEDIUM</option>
    <option value="LOW" selected>LOW</option>
</select>
    <input type="submit" value=Upload>
  </form>
{% endblock %}