{% extends 'base.html' %}

{% block header %}

  <h1>{% block title %}University of Warwick WMGTSS{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<form method="post" > 
<div class="right">
  <p>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </p>
</div>
<div class="btn text-center">
  <p>
      <a href="blank"><button type="button" class="swd-button">Lecture</button></a>
      <a href="blank"><button type="button" class="swd-button">Calendar</button></a>
      <a href="blank"><button type="button" class="swd-button">Quiz</button></a>
  </p>
</div>
<div class="btn text-center">
  <p>
      <a href="blank"><button type="button" class="swd-button">Q and A</button></a>
      <a href=""><button type="button" class="swd-button">Resource</button></a>
      <a href="blank"><button type="button" class="swd-button">Notice</button></a>
  </p>
</div>
<div class="btn text-center">
  <h1>Good Morning {{g.user['username']}}, Welcome to the Resource Board</h1>
</div>

</form>

{% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">By {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      <a class="action" href="{{ url_for('blog.download_file', filename=post['body']) }}">{{ post['body'] }}</a>
      <p class="about">Information about resource:  {{ post['body2'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}