<!-- This html template extends from base.html which means:
it acts as a frame or a base for all pages in the application.-->
{% extends 'base.html' %}

<!-- The header block consists of the title.
This appears within the h1 tag as it a HTML heading tag that indicates
it is the main topic on a web page. The h1 tag stands out on the page.-->
{% block header %}

  <h1>{% block title %}University of Warwick WMGTSS{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}

<!-- The content block consists of a dropdown menu within the select tag
in which the user is able to filter the resources by module.-->
{% block content %}
<form method="post" > 
<div class="right">
  <p>
    
    <select class="module_select" id="module" name="module">
      <option value="WM393" href="blank">WM393</option>
      <option value="WM380">WM380</option>
      <option value="WM274" selected>WM274</option>
      <option value="WM275">WM275</option>
   
  </select>
  <button>Filter!</button>
  </p>
  <!-- The div tags are elements that are used to define parts of the document.-->
</div>
<div class="btn text-center">
  <p>
      <!-- The content block consists of 6 buttons at the top that navigate to
      the other boards (if that functionality had been applied to this assessment)
      A welcome message is then displayed below these buttons.-->
      <a href="blank"><button type="button" class="swd-button">Lecture</button></a>
      <a href="blank"><button type="button" class="swd-button">Calendar</button></a>
      <a href="blank"><button type="button" class="swd-button">Quiz</button></a>
  </p>
</div>
<div class="btn text-center">
  <p>
      <a href="blank"><button type="button" class="swd-button">Q and A</button></a>
      <a href=""><button type="button" class="swd-button">Resource</button></a>
      <a href="blank"><button type="button" class="swd-button">Notice</button></a>
  </p>
</div>
<div class="btn text-center">
  <h1>Good Morning {{g.user['username']}}, Welcome to the Resource Board</h1>
</div>
<div class="btn text-center">
  <p>
    <!-- The content block also has 3 further buttons for uploading a resource,
    editing a board and managing a board. The editing and managing of boards is something
    that is included within the future works section of the project yet has not been covered
    within this assessment.-->
    <a href="create"><button type="button" class="swd-button">Create Board</button></a>
    <a href="edit"><button type="button" class="swd-button">Edit Board</button></a>
    <a href="create"><button type="button" class="swd-button">Manage Board</button></a>
</p>
</div>
</form>

{% for post in posts %}
<!-- This section retrieves data from the posts table of the SQL database to display
within the main resource board page. The title, post ID, post author, datetime post was submitted,
body of text, module, topic are all featured within the main resource page. 
The p tag represents a paragraph. Paragraphs are block level elements therefore all these different
elements will be shown on different lines.-->

<!-- The article tag is similar to the section and header tags in that it is used to contain
information that will be distributed independantly fromt the rest of the site.
This was used as it dynamically collects the information that is stored in the SQL database and shows
the information about each resource seperately.-->
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">By {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
          <a class="action" href="{{ url_for('blog.tutor_comment_page') }}">Check Comments</a>
        {% endif %}
      </header>
      <a class="action" href="{{ url_for('blog.download_file', filename=post['body']) }}">{{ post['body'] }}</a>
      <p class="about">Information about resource:  {{ post['body2'] }}</p>
      <p class="about">Module:  {{ post['module'] }}</p>
      <p class="about">Topic:  {{ post['topic'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}